aiosmtplib
alembic
annotated-doc
annotated-types
anyio
bcrypt==3.2.2
blinker
certifi
cffi
click
colorama
cryptography
Deprecated
dnspython
ecdsa
email-validator
fastapi
fastapi-mail
greenlet
h11
httpcore
httpx
idna
iniconfig
itsdangerous
Jinja2
limits
Mako
MarkupSafe
packaging
passlib
pluggy
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pytest
python-dotenv
python-jose
python-multipart
regex
rsa
six
slowapi
sqladmin
SQLAlchemy
sqlmodel
starlette
typing-inspection
typing_extensions
uvicorn
wrapt
WTForms